.navbar {
    background-color: aliceblue;
    overflow: hidden;
    width: 100%;
    margin: 0 0 1em 0;
    padding: 0;
}
  
.navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.navbar a:hover {
  color: black;
}
  
.navbar-right {
  float: right;
}
  
#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  font-family: "Sailec", sans-serif;
}

#greeting-container {
  margin-top: 20px;
}

.about, .pic, .link {
    border-style: solid;
    border-width: thin;
    border-color: lightgray;
    padding: 15px;
    background-color: #E1F2F7;
    border-radius: 25px;
}
 
.pic {
    height: 450px;
    overflow: auto;
}

.pics {
    width: 650px;
    height: 450px;
    object-fit: cover;
}