#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  font-family: "Sailec", sans-serif;
}

#greeting-container {
  margin-top: 20px;
}

.about, .pic, .link {
    border-style: solid;
    border-width: thin;
    border-color: lightgray;
    padding: 15px;
}
  